<ng-content></ng-content>

<div *ngFor="let article of articles; let i = index">
    <div *ngIf="article.author !== 'Roma' ; else romaGrey">
        <p [ngClass]="{upperedtext:true}">{{article.headline}}</p>
        <div>
            <a>{{article.content | uppereverystring }}</a>
            <br />by {{article.author | uppercase}}
        </div>
    </div>
    <div>
        <ng-container *ngTemplateOutlet="navigationTmpl"></ng-container>
    </div>
    <div>Created: {{ article.date | date: 'medium' }}</div>
    <p><button (click)="deleteArticle.emit(article)">Delete</button></p>

    <ng-template #romaGrey>
        <div style="background-color:grey;">
            <p [ngClass]="{upperedtext:true}">{{article.headline}}</p>
            <div>
                <a>{{article.content}}</a>
                <br />by {{article.author}}
            </div>
        </div>
    </ng-template>
</div>