<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

<h1>Angular Router</h1>
<nav>
    <div *ngIf = "isLogged()">
        <button routerLink="admin/articles" routerLinkActive="active" class="pl-3 pr-3 btn btn-dark">{{'navbar.articles' | translate}}</button>
        <button routerLink="admin/table" routerLinkActive="active" class="pl-3 pr-3 btn btn-dark">{{'navbar.table' | translate}}</button>
        <button routerLink="admin/weather" routerLinkActive="active" class="pl-3 pr-3 btn btn-dark">{{'navbar.weather' | translate}}</button>
        <button class="pl-3 pr-3 btn btn-dark" (click)="LogOut()">{{'navbar.logout' | translate}}</button>
    </div>
    <div *ngIf = "!isLogged()">
        <button routerLink="articles" routerLinkActive="active" class="pl-3 pr-3 btn btn-dark">{{'navbar.articles' | translate}}</button>
        <button routerLink="table" routerLinkActive="active" class="pl-3 pr-3 btn btn-dark">{{'navbar.table' | translate}}</button>
        <button routerLink="weather" routerLinkActive="active" class="pl-3 pr-3 btn btn-dark">{{'navbar.weather' | translate}}</button>
        <button routerLink="admin/login" routerLinkActive="active" class="pl-3 pr-3 btn btn-dark">{{'navbar.login' | translate}}</button>
    </div>
    <button class="pl-3 pr-3 btn btn-dark" (click)="setEng()">En</button>
    <button class="pl-3 pr-3 btn btn-dark" (click)="setRu()">Ru</button>
</nav>
<router-outlet></router-outlet>